* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body>h1 {
  padding-top: 2rem;
  text-align: center;
  font-family: "Roboto";
}

.container {
  width: 100vw;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: .5rem;
  background-color: #2C73D2;
  width: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Roboto";
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card>* {
  color: white;
  margin-bottom: 1rem;
}

.darkGray {
  color: rgb(212, 212, 212);
}